*{
    box-sizing: border-box;
}

body{
    height: 50rem;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 68%;
    height: 98%;
    margin: 0 auto;
}
/* Header */
header{
    min-width: 1350px;
    height: 7rem;
}
header h1{
    text-align: center;
    font-size: 2.5rem;
    line-height: 7rem;
}
/* Main Section */
main{
    min-width: 1350px;
    height: 80%;
    /* border:  1px solid black; */
}
main section{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    border:  1px solid gray;
}
main section article h3{
    text-align: center;
    font-size: 1.5em;
    margin: 1.5rem 0;
}
article{
    width: 30%;
    border:  1px solid gray;
    padding: 0 .8rem;
}
article nav{
    border-top: 2px solid black;
}
p{
    font-size: 1rem;
    margin-bottom:  1rem ;
    line-height: 1.5rem;
}
/* Breaking News Class */
.Breaking-News{
    flex-grow: 2;
}
.Breaking-News h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
.Breaking-News img{
    margin: 0 auto;
}
nav{
    width: 70%;
}
nav ul{
    height: 100%;
    /* width: 100%; */
}
nav ul li{
height: 20%;
font-family: sans-serif;
font-weight: 700;
font-size: 1.5rem;
margin: auto 0;
padding-left: 1.5rem;
padding-top: 1.5rem;
color: #7b7975;
width: 100%
;
}
nav ul li:first-child{
   background-color: #fdebaf;
    }
nav > ul > li:nth-child(2){
    background-color: #9aeaeb;
        }    
nav > ul > li:nth-child(3){
    background-color: #82ebc7;
        }    
nav > ul > li:nth-child(4){
    background-color: #81b9f9;
        }    
nav ul li:last-child{
    background-color: #9f9df8
    ;
        }